@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
      font-family: "Iranyekan";
      src: url("../public/assets/font/Qs_Iranyekan\ bold.ttf");
}

@layer base {
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .li__nav {
    @apply px-4 transition ease-in-out delay-100 hover:text-primary duration-200 md:mb-0 mb-5;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    @apply outline-none cursor-pointer;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    font-size: revert;
  }
  ul {
    @apply list-none m-0;
  }

  a {
    @apply cursor-pointer no-underline;
  }

  .paginate-link {
    @apply px-2 border border-primary text-primary rounded mr-2;
  }
  .active-paginate {
    @apply bg-primary text-white;
  }

  .shadow__Style {
    box-shadow: 0px 0px 30px rgba(0, 200, 83, 0.05);
  }

  .search__shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }

  .category__shadow {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .active__tag {
    @apply text-primary;
  }

  .active {
    @apply border-b-2 border-primary text-primary;
  }

  .menu__button:hover {
    box-shadow: 0px 5px 10px rgba(0, 200, 83, 0.25);
  }

  .menu__button:focus {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .error {
    @apply text-red-800;
  }

  .paginate-link {
    @apply w-8 h-8 items-center justify-center flex border rounded-xl;
  }

  .break-link {
    @apply w-8 h-8 items-center justify-center flex text-primary text-2xl;
  }

  .input__error {
    border: 1px solid red;
  }

  .arrow-link.disabled {
    @apply text-[#cce1c9] flex items-center justify-center w-8 h-8 rounded-xl mr-2 cursor-not-allowed;
    box-shadow: 0px 0px 10px rgba(0, 200, 83, 0.1);
  }

  .arrow-link {
    @apply text-primary flex items-center justify-center w-8 h-8 rounded-xl mr-2;
    box-shadow: 0px 0px 10px rgba(0, 200, 83, 0.1);
  }

  input:checked + div {
    @apply border-primary;
  }
  input:checked + div svg {
    @apply block;
  }
}
